<div class="header">
  <h1 class="main-heading-name">Screening Time</h1>
  <div class="search-container">
    <input (keyup)="onSearch($event)" type="search" placeholder="Search for Movie" [(ngModel)]="searchText"/>
  </div>
  <nav>
    <a routerLink="/login" routerLinkActive="active">Login</a>
  </nav>
  </div>
<div >
  <div class="container">
    <mat-card (click)="openDialog(card)" class="example-card" *ngFor="let card of filteredCards">
        <div>
            <img style="width: 286px;height: 166px;" src="{{card?.url}}"/>
        </div>
        <mat-card-header>
          <mat-card-title>{{(card).title}}</mat-card-title>
          <mat-card-subtitle *ngIf="card.genres">{{card.genres}}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="card.genres ==''">NA</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="movie-description">{{card.description}}</p>
        </mat-card-content>
      </mat-card>
  </div>
      <div class="button-con" (click)="onRefresh()" *ngIf="showRefresh">
        <button>Refresh to load data</button>
      </div>
</div>
  <mat-paginator 
    [pageSizeOptions]="[10]"
    [length]="totalItems"
    (page)="onPageChange($event)"
  ></mat-paginator>
